body {
    background-color: black;
}
img {
    border: 5px solid white;
    width: 50%;
    height: 80%;


}

h1, p {
    color: white;
    text-align: center;
    text-transform: uppercase;
}
h1 {
    font-family: 'Leckerli One', cursive;
}
p {
    font-family: 'Libre Baskerville', serif;
}
