h1, p, .h1, .lead {
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    size: 3em;
    text-transform: uppercase;
}
p {
    text-align: center;
    color: white;
}
body {
    background-color: black;
}
img {
    margin-top: 1rem;
    border: 5px solid white;
    width: 52%;
    height: auto;

}
.lead {
    font-size: 17px;
    padding: 5%;
}