h1, p, .h1, .lead {
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    size: 3em;
    text-transform: uppercase;
}
p {
    text-align: center;
    color: white;
}
body {
    background-color: black;
}
img {
    margin-top: 5;
    border: 5px solid white;
    width: 30%;

}
#meme {
    margin-left: 25%;
    width: 50%;
    margin-top: 50px;
}